<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<!--link do estilo css-->
	<link rel="stylesheet" href="/css/menu/menu.css">
</head>
<body>
	<div>
		<nav class="menu">
			<ul>
                <li class="lista">
					<a href="http://localhost:4000/login/Administrador/perfil/123">
                        <i class='bx bx-sm bx-user' ></i>
						<span class="span-menu">Perfil</span>
					</a>
				</li>
				<li class="lista lista-topo">
					<a href="http://localhost:4000/login/administrador/gerencial">
						<i class='bx bx-sm bx-receipt'></i>
						<span class="span-menu">Gerencial</span>
					</a>
				</li>
				<li class="lista-topo">
					<a href="http://localhost:4000/login/administrador/moradias">
						<i class='bx bx-sm bx-building-house'></i>
						<span class="span-menu">Moradias</span>
					</a>
				</li>
				<li class="lista-topo">
					<a href="http://localhost:4000/login/administrador/financeiro">
						<i class='bx bx-sm bx-dollar-circle'></i>
						<span class="span-menu">Financeiro</span>
					</a>
				</li>
				<li class="lista lista-topo">
					<a href="http://localhost:4000/login/administrador/comunicados">
						<i class='bx bx-sm bx-message-square-dots'></i>
						<span class="span-menu">Comunicados</span>
					</a>
				</li>
				<li class="lista lista-topo">
					<a href="http://localhost:4000/login/administrador/agenda">
						<i class='bx bx-sm bx-notepad'></i>
						<span class="span-menu">Agenda</span>
					</a>
				</li>
				<li class="btn-sair">
					<a href="/logout">
                        <i class='bx bx-sm bx-log-out'></i>
						<span class="span-menu">Sair</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>
