<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/log/administrador/comunicadosCreateAdministrador.css"> 
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
    <title>Cadastro de Comunicados - Administrador</title>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="/login/administrador/comunicados/cadastro" method="post">
        <div class="container">
            <div class="container-conteudo">
                <h1>Cadastro de Comunicados</h1><hr>
                <div class="conteudo">
                    <div class="TituloeDataEnvio">
                        <label id="labeltitulo" for="titulo">Titulo: <input name="titulo" type="text" id="textTitulo" name="txTitulo"></label>

                        <label for="dataEnvio">Data de Envio: <input name="dataenvio" id="dataEnvio" name="dtEnvio"></label>
                    </div>

                    <label for="assunto">Assunto: <input name="assunto" type="text" id="textAssunto" name="txAssunto"></label><br>

                    <label id="labelTexto" for="textAreaTexto">Texto </label>
                    <textarea name="texto" id="textAreaTexto" name="txaTexto"></textarea>
                </div>
                <div class="container-button">
                    <a href="http://localhost:4000/login/administrador/comunicados" id="btn-voltar">Voltar</a>
                    <button id="btn-cadastrar" type="submit">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>