<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/createAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="/login/administrador/gerencial/create/success" method="POST">
        <div class="container">
            <div class="container-conteudo">
                <h1>Cadastro de Morador</h1>
                <hr>
                <div class="conteudo">
                    <div class="conteudo-dados-pessoais">
                        <label for="">Nome: <input name="nome" class="inputs-ddc" id="input-nome" type="text"></label> <br>
                        <label for="">Data de Nascimento: <input name="datanascimento" class="inputs-ddc" id="input-datanasc" type="text"></label>
                        <label for="">CPF: <input name="cpf" class="inputs-ddc" id="input-cpf" type="text"></label>
                        <label for="">Email: <input name="email" class="inputs-ddc" id="input-email" type="text"></label>
                        <label for="">Telefone: <input name="telefone1" class="inputs-ddc" class="input-telefone" id="input-telefone" type="text"></label>
                    </div>
                    <div class="conteudo-dados-da-conta">
                        <div class="radio">
                            <label for="">Nível de acesso da conta:</label>
                            <div class="custom-radio">
                                <input value="Morador" class="radio" name="nivelAcesso" id="radio1" type="radio" checked>
                                <label class="radio-1" for="radio1">Morador</label>
                                <input value="Administrador" class="radio" name="nivelAcesso" id="radio2" type="radio">
                                <label for="radio2">Administrador</label>
                            </div>
                        </div>
                        <label for="">ID Morador: <input name="idUsuario" class="inputs-ddc" id="input-id-width" type="text"></label> <br>
                        <label for="">Senha: <input name="senha" class="inputs-ddc" id="input-senha-width" type="password"></label>
                    </div>
            </div>
            <div class="container-btn">
                <a href="http://localhost:4000/login/administrador/gerencial" id="btn-voltar">Voltar</a>
                <button id="btn-cadastrar" type="submit">Cadastrar</button>
            </div>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="/js/log/adm/jquery.mask.js"></script>
    <script src="/js/log/adm/mask.js"></script>
</body>
</html>