<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Dados do Morador - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/deleteAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %> 
    <form action="/login/administrador/gerencial/update" method="post">
        <div class="container">
            <div class="container-conteudo">
                <h1>Alterar Dados do Morador</h1>
                <hr>
                <div class="conteudo">
                    <div class="conteudo-idusuario">
                        <label for="">ID Usuário: <input name="idUsuario" type="text"></label>
                        <button type="submit" id="btn-buscar">Buscar</button>
                    </div>
                    <div class="container-btn">
                        <a href="/login/administrador/gerencial" id="btn-voltar">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>