<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido de Agendamento - Administrador</title>
    <link rel="stylesheet" href="/css/log/administrador/agendarAdministrador.css">
    <link rel="icon" type="imagem/png" href="/img/home/principal/icon.ico"/>
</head>
<body>
    <%- include('../../partials/menuAdministrador.ejs') %>
    <form action="/login/administrador/agenda/pedidos/:idAgendamento" method="post">
        <div class="container">
            <div class="container-conteudo">
                <h1>Atualizar Pedido</h1>
                <hr>
                <div class="conteudo">
                    <div class="conteudo-dados">
                        <label for="" id="label-idusuario">Status do Pedido:<input value=<%= pedido.status %> name="status"  id="input-idusuario" class="inputs-ddc" type="text"></label>
                        <label for="" id="label-nome">Nome:<input value="Eduardo Silva Pottker" id="input-nome" class="inputs-ddc" type="text" disabled></label>
                        <label for="" id="label-titulo">Título:<input value="Reservar o salão de festas do prédio"  name="titulo" id="input-titulo" class="inputs-ddc" type="text" disabled></label>
                        <label for="" id="label-assunto">Assunto:<textarea  name="assunto" class="inputs-ddc" id="input-assunto" cols="30" rows="10" disabled>Convidar alguns amigos para comemorar o meu aniversário. </textarea></label>
                        <div id="datainicio">
                            <label for="">Data Inicio:<input value="26/06/2022"  name="dataInicio" id="input-data" class="inputs-ddc" type="text" disabled></label>
                            <label for="" id="label-horarioinicio">Horário Inicio:<input value="14:00"  name="horarioInicio" id="input-horario" class="inputs-ddc" type="text" disabled></label>
                        </div>
                        <div id="datafim">
                            <label for="">Data Fim:<input value="26/06/2022"  name="dataFim" id="input-data" class="inputs-ddc" type="text" disabled></label>
                            <label for="" id="label-horariofim">Horário Fim:<input value="23:00" name="horarioFim" id="input-horario" class="inputs-ddc" type="text" disabled></label>
                        </div>
                    </div>
                    <div class="container-button">
                        <a id="btn-voltar" href="/login/administrador/agenda">Voltar</a>
                        <button id="btn-agendar" type="submit">Atualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 
</body>
</html>