<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Wise</title>
    <link rel="stylesheet" href="../../public/css/home/ajuda.css">
    <link rel="icon" type="imagem/png" href="/src/public/img/home/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
          <!-- Conteúdo do cabeçalho -->
          <a class="LogoHeader">
            <img class="ImageHeader" src="../../public/img/home/logo.png" alt="" srcset="">
            <h1 class="TittleHeader">Control Wise</h1>
          </a>

          <div class="NavigationHeader">
            <a class="LinkHeader" href="/home">Home</a>
            <a class="LinkHeader" href="/sobre">Sobre</a>
            <a class="LinkHeader" href="/ajuda">Ajuda</a>
            <a class="LinkHeader" href="/login">Login</a>

          </div>
        </header>
        
        <main>
          <!-- Conteúdo principal -->
          <div class="ContainerContent">
            <h1 class="TittleMain">Como podemos te ajudar?</h1>
            <div class="ContainerInput">
                <form action="post">
                    <label htmlFor="">Nome <input class="InputAjuda" type="text" placeholder="Informe seu nome"/></label>
                    <label htmlFor="">E-mail <input class="InputAjuda" type="text" placeholder="Informe seu e-mail principal"/></label>
                    <label htmlFor="">Telefone <input class="InputAjuda" type="text" placeholder="Informe seu telefone de contato"/></label>
                    <label htmlFor="">Qual sua dúvida? <textarea class="TextAreaAjuda" name="" id="" cols="30" rows="10"></textarea></label>

                    <button class="ButtonAjuda">Enviar</button>
                </form>
            </div>
          </div>
        </main>
        
        <footer>
          <p>Copyright 2023 <a class="LinkFooter" href="https://github.com/leodoprado/ControlWise.git">Control Wise</a></p>
        </footer>
      </div>
</body>
</html>