<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinatura do Software</title>
    <link rel="stylesheet" href="/css/home/assinaturadosoftware.css">
    <link rel="icon" type="imagem/png" href="/img/home/login/icon.ico"/>
</head>
<body>
    <form action="">
                <div class="conteudo">
                    <div class="conteudo-logo">
                        <a href="/"><img src="/img/home/login/logo-.comDomínio250pxwhite.png" alt=""></a>
                    </div>
                    <div class="conteudo-titulo">
                        <h1>Assinatura do Software</h1>
                    </div>
                    <div class="conteudo-form">
                        <label for="" id="label-nome">*Nome: <input required placeholder="Digite seu nome" type="text"></label>
                        <label for="">*Email: <input required placeholder="Digite seu email" type="text"></label>
                        <label for="">*Celular: <input required placeholder="Digite seu número de telefone" type="text"></label>
                        <label for="">*Endereço: <input required placeholder="Digite o endereço" type="text"></label>
                        <label for="">*Cidade: <input required placeholder="Digite o nome da cidade" type="text"></label>
                        <label for="">*Estado: <input required placeholder="Digite o estado" type="text"></label>
                    </div>
                    <div class="container-btn">
                        <button type="submit" id="btn-solicitar">Solicitar</button>
                    </div>
                </div>
    </form>
</body>
</html>