<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/login.css">
</head>
<body>
    <form action="/create/user" method="POST">
        <div class="radio">
          <div class="custom-radio">
              <input value="Morador" class="radio" name="nivelAcesso" id="radio1" type="radio" checked>
              <label class="radio-1" for="radio1">Morador</label>
          </div>
          <div class="custom-radio">
              <input value="Administrador" class="radio" name="nivelAcesso" id="radio2" type="radio">
              <label for="radio2">Administrador</label>
          </div>
        </div>
        <div>
            <label for="" id="label-id-pass">Id:</label>
            <input name="login" type="number" placeholder="Digite seu identificador"/> 
            <label for="" id="label-id-pass">Senha:</label> 
            <input name="senha" type="password" placeholder="Digite sua senha"/> 
            <input type="submit" value="Criar"/>
          </div>
    </form>
</body>
</html>