<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>.comDomínio</title>
        <link rel="stylesheet" href="/css/home/principal.css">
        <link rel="icon" type="imagem/png" href="./img/home/principal/icon.ico"/>
    </head>
<body>
    <header class="cabecalho">
        <section class="cabecalho-conteudo">
            <div class="logo">
                <a href="#">
                    <img src="/img/home/principal/logo-.comDomínio150px.png" alt="">
                </a>
            </div>
            <nav>
                <ul class="menu" style="list-style: none;">
                    <li><a href="#principal">Início</a></li>
                    <li><a href="#principal2">Funcionalidades</a></li>
                    <li><a href="#principal3">Benefícios</a></li>
                    <li><a href="#principal4">Contato</a></li>
                </ul>
            </nav>
            <h2 class="cabecalho-login">
                <a href="./login">Login</a>
            </h2>
        </section>
    </header>

    <section class="principal" id="principal">
        <section class="principal-conteudo">
            <div class="principal-texto">
                <h1><span class="corTextoPrincipal">Sistema</span> para</h1>
                <h1>gestão de </h1> 
                <h1><span class="corTextoPrincipal">condomínios</span> online</h1>
                <p>O Sistema para gestão de condomínios e interação dos moradores é ideal para síndicos, administradoras e imobiliárias, permitindo realizar a gestão e organização do meio de convivio social!</p>
            </div>
            <div class="principal-imagem">
                <img src="/img/home/principal/img-inicio.png" alt="">
            </div>
        </section>
        <div class="principal-botao">       
            <a href="/assinatura-do-software"><button class="botao1">Assinatura do software</button></a>
        </div>
    </section>

    <section class="principal2" id="principal2">
        <div class="principal-conteudo2">
            <h1>Funcionalidades do software</h1>
            <div class="principal-texto2">
                <div class="principal-texto-esquerda">
                    <ul>
                        <li class="texto-funcionalidades">
                            <h3>Gestão de Moradores</h3>
                            <p>Realize a gestão dos moradores através da listagem no módulo gerencial, mantendo o controle sobre as pessoas que residem nos apartamentos. Tudo isso com registro de contas ativas no sistema.</p>
                        </li>
                        <li class="texto-funcionalidades">
                            <h3>Gestão Financeira</h3>
                            <p>Realize a gestão dos inadimplentes através do registro de cobranças, efetuadas no sistema referente ao mês de atraso, obtenha um maior controle sobre seus devedores.</p>
                        </li>
                    </ul>
                </div>
                <div class="principal-texto-direita">
                    <ul>
                        <li class="texto-funcionalidades">
                            <h3>Comunicados Internos</h3>
                            <p>Realize comunicados importantes ao moradores, no modulo comunicados, mantendo todos cientes sobre possiveis mudanças ou reuniões, informando o motivo e o tema que sera discutido.</p>
                        </li>
                        <li class="texto-funcionalidades">
                            <h3>Registros de Atividades</h3>
                            <p>O software possibilita o registro de atividades que envolvem áreas sociais de frequente utilização, como churrasqueiras ao ar livre, quadras de futebol, quadras de tenis, piscinas, etc...</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="principal3" id="principal3">
        <div class="principal-conteudo3">
            <h1>Benefícios do software</h1>
            <div class="principal-texto3">
                <div class="principal-texto-esquerda2">
                    <ul>
                        <li class="texto-funcionalidades">
                            <h3>Benefício de Controle</h3>
                            <p>Controle gerencial sobre assuntos específicos que em muitas vezes são esquecidas ou deixadas de lado, facilitando a administração do condomínio. </p>
                        </li>
                        <li class="texto-funcionalidades">
                            <h3>Convívio Social</h3>
                            <p>Controlar e gerir melhor as relações entre os moradores, tratando de assuntos ou empecilhos que circulam o ambiente de convívio.</p>
                        </li>
                    </ul>
                </div>
                <div class="principal-texto-direita2">
                    <ul>
                        <li class="texto-funcionalidades">
                            <h3>Controle de Agenda</h3>
                            <p>Administrar de forma eficiente a agenda pessoal dos moradores, garantindo uma maior organização no dia a dia das pessoas.</p>
                        </li>
                        <li class="texto-funcionalidades"> 
                            <h3>Gestão Financeira</h3>
                            <p>Controlar e gerir o processo de pagamento de contas de seus residentes ativos no condomínio e no sistema referente.</p>
                        </li>
                    </ul>
                </div>
            </div>          
        </div>
    </section>

    <section class="principal4" id="principal4">
        <div class="principal-conteudo4">
            <h1>Entre em contato conosco</h1> 
            <h2>Como podemos ajudar?</h2>
            <div class="sections-ajuda">
                <div class="section-ajuda2">
                    <img src="/img/home/principal/img-centralajuda-contato.png" alt="">
                    <h3>Central de ajuda</h3>
                    <p>Alguma dúvida sobre como usar o Software? Não se preocupe, nosso sistema está pronto para ajudar você a resolver.</p>
                    <a href="/central-de-ajuda"><button class="botao-contato">Central de ajuda</button></a>
                </div>
                <div class="section-ajuda1">
                    <img src="/img/home/principal/img-solicitar-contato.png" alt="">
                    <h3>Solicitar contato</h3>
                    <p>Procurando por uma informação mais específica? Solicite o contato via WhatsApp, estamos prontos para lhe atender.</p>
                    <a href="https://api.whatsapp.com/send?phone=5554999709232&text=Olá,%20estou%20solicitando%20contato%20pelo%20site%20.comDomínio" target="_blank"><button class="botao-contato">Solicitar contato</button></a>
                </div>
                <div class="section-ajuda3">
                    <img src="/img/home/principal/img-orçamento-contato.png" alt="">
                    <h3>Deseja receber um orçamento?</h3>
                    <p>Diversos condomínios estão trabalhando de forma sustentável com a gente. Receba um orçamento agora mesmo!</p>
                    <a href="/img/home/principal/orçamento.pdf" download><button class="botao-contato">Receber um orçamento</button></a>
                </div>
            </div>         
        </div>
    </section>

    <script src="/js/home/principal/index.js"></script>
</body>
</html>