header {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    font-family: 'Poppins', 'Inter';
    font-size: 1.2em;
}

header a {
    text-align: center;
    background-color:#23242F;
    flex-grow: 1;
}

header a:hover {
    background-color: #18163A;
    color: rgb(255, 255, 255);
}

#header-nav {
    display: flex;
    
}