<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Wise</title>
    <link rel="stylesheet" href="/css/log/dadosAdicionar.css">
    <link rel="icon" type="imagem/png" href="/img/home/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
          <!-- Conteúdo do cabeçalho -->
          <a href="/" class="LogoHeader">
            <img class="ImageHeader" src="/img/home/logo.png" alt="" srcset="">
            <h1 class="TittleHeader">Control Wise</h1>
          </a>
        </header>
        
        <main>
          <!-- Conteúdo principal -->
          <div class="ContainerContent">
            <h1 class="TittleMain">Adicionar Transação</h1>
            <div class="ContainerInput">
                <form action="/login/analitico/adicionar/" method="post">
                    <label htmlFor="">Descrição <input name="desc" class="InputAjuda" type="text" placeholder="Descrição"/></label>
                    <label htmlFor="">Valor <input name="valor" class="InputAjuda" type="text" placeholder="Valor"/></label>
                    <button class="ButtonAjuda" type="submit">Adicionar</button>
                </form>
            </div>
          </div>
        </main>
      </div>
</body>
</html>