@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Carter+One&family=Livvic:wght@400;500;600;700&family=Nunito:wght@400;500;700&family=Oxanium:wght@800&display=swap');

:root {
    --primary-color: rgb(8, 37, 103);
    --second-color: rgb(255, 255, 255);
    --third-color: #5072A7;
    --four-color: rgb(224, 224, 224);
    --primary-font: "Nunito", sans serif;
    --second-font: "Livvic", sans serif;
    --third-font: "Carter One", sans serif;
    --logo-font: "Bakbak One", sans serif;
    --gap: 1.5rem;
}

* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	font-family: var(--second-font), Times, serif;
}

textarea:focus, input:focus, select:focus {
    border: 0 none;
    outline: 0;
} 

input {
    text-align: center;
}

label {
    color: var(--primary-color);
}

h4 {
    color: var(--primary-color);
}

.container {
    width: 100%;
	height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(190,203,223,1) 77%, rgba(128,153,191,1) 100%, rgba(80,114,167,1) 100%); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-conteudo {
    width: 90%;
    height: 90%;
    margin-left: 70px;
    background-color: var(--second-color);
    box-shadow: 0 0 1px var(--third-color);
    padding: 20px;
}

.conteudo-dados-da-conta {
    width: 350px;
    height: 330px;
    color: var(--primary-color);
    background-color: var(--second-color);
    box-shadow: 0 0 2px rgb(199, 192, 192);
}

.dados-da-conta {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 25px;
    padding-top: 10px;
}

.inputs-ddc {
    width: 150px;
    font-size: 18px;
    height: 25px;
    box-shadow: 0 0 1px var(--third-color);
    margin-left: 30px;
    margin-bottom: 10px;
}

.dados-da-conta input:focus {
    box-shadow: 0 0 3px var(--primary-color);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgPhoto {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    padding: 4px;
    box-shadow: 0 0 5px var(--third-color);
    border-radius: 50%;
    background-color: var(--second-color);
    cursor: pointer;
    transition: 1s;
}

#imgPhoto:hover {
    box-shadow: 0 0 5px var(--third-color);
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
}

input[type='file']{
    display: none;
}


/* ---------- Dados Pessoais ---------- */

hr {
    margin: 2px 0 5px;
    border-top: 1px solid rgb(199, 192, 192);
}

.conteudo {
    display: flex;
}

.conteudo-dados-pessoais {
    width: 70%;
    color: var(--primary-color);
    padding-left: 25px;
}

.dados-pessoais {
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dados-pessoais input {
    font-size: 18px;
    height: 25px;
    box-shadow: 0 0 1px var(--third-color);
    margin-left: 20px;
}

.dados-pessoais input:focus {
    box-shadow: 0 0 3px var(--primary-color);
}

#input-nome {
    resize: none;
    height: 25px;
    width: 280px;
    font-size: 18px;
    box-shadow: 0 0 1px var(--third-color);
    margin-left: 20px;
    text-align: center;
}

#label-datanasc {
    margin-left: 80px;
}

#input-datanasc {
    width: 120px;
}

#input-cpf{
    width: 250px;
}

#label-rg {
    margin-left: 80px;
}

#input-estadocivil {
    width: 170px;
}

#label-sexo {
    margin-left: 80px;
}

#input-sexo {
    width: 180px;
}

#input-nacionalidade {
    width: 160px;
}

#label-cidadenatal {
    margin-left: 60px;
}

#input-cidadenatal {
    resize: none;
    height: 25px;
    width: 280px;
    font-size: 18px;
    box-shadow: 0 0 1px var(--third-color);
    margin-left: 20px;
    text-align: center;
    width: 200px;
}

#label-estado {
    margin-left: 40px;
}

#input-estado {
    width: 40px;
}

/* ---------- Contatos ---------- */


.conteudo-contato {
    color: var(--primary-color);
}

#titulo-contatos{
    margin-top: 18px;
}


.contato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contato input:focus {
    box-shadow: 0 0 3px var(--primary-color);
}

.contato input {
    font-size: 18px;
    height: 25px;
    box-shadow: 0 0 1px var(--third-color);
    margin-left: 20px;
    text-align: center;
}

.contato {
    margin-top: 40px;
}

#input-email {
    width: 395px;
}

#label-emailcomplementar {
    margin-left: 60px;
}

#input-telefone {
    width: 200px;
}

#label-telefone2 {
    margin-left: 100px;
}

#btn-cancelar {
    border: none;
    font-family: var(--second-font);
    background: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 125px;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 77px;
    padding: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
}

#btn-cancelar:hover, #btn-cancelar:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#btn-salvar {
    border: none;
    font-family: var(--second-font);
    background: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 125px;
    cursor: pointer;
    opacity: 0.9;
    margin-left: 20px;
    padding: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
}

#btn-salvar:hover, #btn-salvar:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}